body{

    margin: 0;

}
ul{
    list-style: none;
}
.a-menu{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:white;
    font-size: 42px;
}
.b-header{
width: 100vw;
height: 112vh;
background-image: url(bmw-.webp);
background-size: cover;
border-top: 0,5px;
}
.b-imag{
    object-fit: cover;
    height: 400px;
    width: 700px;
}

.container{
    width: 100%;
    height: 10%;
    display: flex;
}
.b-container__right{
    width: 50%;
    height: 100%;
    display: flex;
}
.b-container__left{
    width: 50%;
    height: 100%;
    display: flex;
}
.nav-icons__li{    
    width: 30%;
    height: 30%;
    display: flex;
}
.b-nav{
    display: flex;
    width: 100%;

}
.b-navsecund{
    display: flex;
    align-items: center;
    width: 100%;

}
.b-nav__menu{
    width: 60%;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.b-icons{
    padding: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}


.nav-icons__img{
    width: 84px;
    height: 74px;
}
.b-enlaces{
    padding: 70px;
    margin: 20px;
    font-size: 10px;
    color: rgb(43, 5, 214);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    
}
.b-text {
    position: absolute;
    font-size: 48px;
    top: 70%;
    left: 10%;
    bottom: 0%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 83%;
    height: 10%;
    display: flex;
    align-items: flex-end;
}
li{
    padding: 23px;
}
.b-texttwo{
    position: absolute;
    top: 80%;
    left: 10%;
    width: 50%;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
h2{
    margin: 10px;
    font-size: 55px;
    display: flex;
    width: 90%;
    height: 60px;
}
.b-first{
    display: flex;
    align-items: center;
    width: 100%;
    height: 160px;
}
.b-firstnav{
    border-bottom: 3px solid #d6cdcd;
    width: 100%;
}
.b-textmenu{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}
.b-artinicial{
    margin: 45px;
    width: 100%;
    display: flex;
}
.b-articimg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.b-box{
    font-size: 40px;
    margin: 10px;
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
}
h1{
    display: flex;
    margin: 0%;
}
.textinfo{
    font-weight: bold;
    font-size: 40px;
}
span{
    color: grey;
}
.b-publi{
    margin: 10% 0;

    display: flex;
}
.b-cont{
    box-shadow: 0 4px 20px #eff1f2, 0 6px 20px 0;
    height: 700px;
    padding: 10px;
    margin: 4%;
    display: flex;
    flex-direction: column;
    width: calc(25%-20px);
}
.b-footer{
width: 100%;
    background-color: whitesmoke;
}
.b-boxing{
    margin: 50px;
    height: 635px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
.text-text{
    margin: 5px 0 0 0;
    text-align: left;
    font-family: sans-serif;
    font-size: 63px;
}
.b-secund{
    object-fit: cover;

}
.b-cont p{
    margin: 0;
    font-size: 30px;
    color: gray;
}
.b-cont span{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin: 10px;
    font-weight: bold;
}
.b-textmenu li{
    color: aquamarine;   
}
.b-menu{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #BABABA;
    font-size: 55px;
}
.ul-button{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 316px;
    padding: 3px 33px;
    background-color: #1C69D5;
    font-size: 80px;
}
.b-publi--ul{
    padding: 50px;
}
.b-cont--ul{
    margin: 1%;
    width: 43%;
}
.b-cont--ul img{
    height: 600px;
}